
name: Build & Publish NuGet

on:
  push:
    tags:
      - 'v*'   # Publish only when created a version tag

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore ./EEBUS.Net/EEBUS.Net.csproj

      - name: Pack NuGet
        run: dotnet pack --configuration Release --no-build -o ./artifacts

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nuget-packages
          path: artifacts/*.nupkg

      - name: Publish to NuGet
        if: startsWith(github.ref, 'refs/tags/v')
        run: dotnet nuget push "./artifacts/*.nupkg" \
                --api-key ${{ secrets.NUGET_API_KEY }} \
                --source https://api.nuget.org/v3/index.json \
                --skip-duplicate
 
